@thumb: 140px;

@preview: 450px;

.rounded-corners (@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}
.scale {
  -webkit-transform : scale(1.1);
  -moz-transform : scale(1.1);
  -o-transform : scale(1.1);
  transform : scale(1.1);
}

.transform-transition(@time :1s) {
  -moz-transition: -moz-transform @time;
  -webkit-transition: -webkit-transform @time;
  -o-transition: -o-transform @time;
  transition: transform @time;
}

.scale(@size: 1.1) {
  -webkit-transform: scale(@size);
  -moz-transform: scale(@size);
  -o-transform: scale(@size);
  transform: scale(@size);
}

.unscale(@size: 0.9) {
  -webkit-transform: scale(@size);
  -moz-transform: scale(@size);
  -o-transform: scale(@size);
  transform: scale(@size);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

.rotation(@deg: 90deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  transform: rotate(@deg);
}

body {
  background: white;
}

.wrapper {
  width: 1030px;
  margin: 0 auto;
  padding: 40px 0 0;
}

.thumb {
  width: @thumb;
  height: @thumb;
  display: block;
  margin:4px;
  cursor: pointer;
}

[data-grid-tools] {
  width: 200px;
  float: right;
}

.container {
  margin-right: 200px;
  width: 830px;
  overflow: hidden;
}

section [data-grid-previews] {
  width: 220px;
  padding-top:0px;
}

[data-grid-img-preview] {
  margin-left: 250px;
}

.preview {
  width: @preview;
  height: @preview;
  position: absolute;
  top:0;
  left:0;
  .transform-transition();
}

[data-message] {
  width: 436px;
  height: 70px;
  margin-left: 45px;
  resize: none;
}

[data-image-preview] {
  width: @preview;
  height:605px;
  margin: 0 auto;
  display: block;
  position:relative;
}

[data-action] {
  cursor: pointer;
  .transform-transition();
}

[data-action]:hover {
.scale();
}

.zoom-in img {
  .scale();
}

.zoom-out img {
  .unscale();
}

.rotate img {
  .rotation();
}

.tools {
  margin-top: 20px;
}

[data-thumbs] {
  margin-bottom: 10px;
}

[data-local-save-btn], [data-upload-btn] {
  margin: 15px auto;
  display:inline-block;
}

input[data-upload-filename] {
  display:block;
}


[data-frame-plugin] {
  width: 450px;
  height: 600px;
  overflow: hidden;
}

[data-transfer-image-wrapper] {
  @width: 450px;
  @height: 600px;

  position: absolute;
  left: 0;
  top: 0;
  width: @width;
  height: @height;
  overflow: hidden;
  display: none;
  cursor: text;
  outline: 1px solid black;
  &.fake-image {
    box-sizing: border-box;
    padding: 1px;
    width: @width - 5;
    height: @height - 5;
  }
}

[data-transfer-image] {
  cursor: text;
  position: absolute;
  top: 50%;
  left: 50%;

}

[data-textbox-wrapper] {
  position: absolute;
}

[data-textbox] {
  font-size: 13px;
  color: black;
  background-color: transparent;
  word-wrap: break-word;
  display: block;
}
