<section class="wrapper" data-grid-container>
  <section data-grid-tools></section>
  <section class="container">
    <section data-grid-head></section>
    <section class="pull-left well well-large" data-grid-previews></section>
    <section data-grid-img-preview></section>
  </section>
 </section>