<h4>Upload document</h4>
<div class="upload">
  <button type="button" class="btn btn-primary" data-scan>Scan</button>
  <button type="button" class="btn btn-primary" data-load-img>Load</button>
</div>
<div class="tools well well-small">
  <h5>Tools</h5>
  <button data-edit-rotate-left class="btn btn-small btn-info">Left</button>
  <button data-edit-rotate-right class="btn btn-small btn-info">Right</button>
  <button data-edit-text class="btn btn-small btn-info" disabled="disabled">Text</button>
  <button data-edit-crop class="btn btn-small btn-info" disabled="disabled">Crop</button>
</div>

<div  class="save well well-small">
  <h5>Save image</h5>
  <label class="radio inline">
    <input type="radio" name="local-save" data-local-save value="png">
    png
  </label>

  <label class="radio inline">
    <input type="radio" name="local-save" data-local-save value="bmp">
    bmp
  </label>

  <label class="radio inline">
    <input type="radio" name="local-save" data-local-save value="jpeg">
    jpeg
  </label>

  <label class="radio inline">
    <input type="radio" name="local-save" data-local-save value="tiff">
    tiff
  </label>

  <label class="radio inline">
    <input type="radio" name="local-save" data-local-save value="pdf">
    pdf
  </label>

  <button data-local-save-btn class="btn btn-small btn-primary">Save Image</button>
</div>

<div  class="save well well-small">
  <h5>Upload image</h5>

  <label class="inline">File name</label>
  <input class="input-small" data-upload-filename type="text" placeholder="filename">

  <label class="radio inline">
    <input type="radio" name="upload" data-server-upload value="3">
    png
  </label>

  <label class="radio inline">
    <input type="radio" name="upload" data-server-upload value="2">
    tiff
  </label>

  <label class="radio inline">
    <input type="radio" name="upload" data-server-upload value="1">
    jpeg
  </label>

  <label class="radio inline">
    <input type="radio" name="upload" data-server-upload value="0">
    bmp
  </label>

  <label class="radio inline">
    <input type="radio" name="upload" data-server-upload value="4">
    pdf
  </label>


  <button data-upload-btn class="btn btn-small btn-primary">Upload Image</button>
</div>
