<div data-image-preview>
  <div data-flash-wrapper id="dwtcontrolContainer">
    <div id="DWTContainerID"></div>
  </div>
  <input id="IfInitInfo" style="visibility:hidden ;" value = 0 /> <!-- Disable function InitInfo()-->
  <div data-transfer-image-wrapper>
    <img data-transfer-image/>
  </div>
</div>

<textarea data-message></textarea>
