<div data-textbox-wrapper>
    <textarea data-textbox autofocus="autofocus"></textarea>
    <button data-confirm class="btn btn-primary btn-small">Ok</button>
    <button data-cancel-text class="btn btn-primary btn-small">Cancel</button>
</div>