<div data-image-preview>
  <div data-thumbs id="dwtthumbsContainer">
    <div id="DWTThumbnailsContainerID" >

    </div>
  </div>
  <input id="IfInitInfo" style="visibility:hidden; display:none;" value = 0 />
  <button data-remove-selected class="btn btn-small btn-danger">Remove selected</button>
  <button data-remove-all class="btn btn-small btn-danger">Remove all</button>
</div>